In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('athlete_events.csv')

In [4]:
region_df = pd.read_csv('noc_regions.csv')

In [5]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
region_df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [7]:
df.shape()

TypeError: 'tuple' object is not callable

In [8]:
df.shape

(271116, 15)

In [9]:
 df[df["Season"] =="Summer"]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [10]:
'''group by on basis of noc (country) and getting medal tally '''
df = df.merge(region_df,on='NOC',how='left')

In [11]:
df.drop(['region_x','region_y'],axis = 1)

KeyError: "['region_x' 'region_y'] not found in axis"

In [12]:
df.drop(['notes_x','notes_y'],axis = 1)

KeyError: "['notes_x' 'notes_y'] not found in axis"

In [13]:
df = df.drop(['notes_x','notes_y','region_x','region_y'],axis = 1)

KeyError: "['notes_x' 'notes_y' 'region_x' 'region_y'] not found in axis"

In [14]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [15]:
df = df.merge(region_df,on='NOC',how='left')

In [16]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region_x,notes_x,region_y,notes_y
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,Netherlands,NaN

In [17]:
# to know how many countries participated and its count
df['region'].unique().shape

KeyError: 'region'

In [18]:
df.isnull().sum()# to check number of null values

ID               0
Name             0
Sex              0
Age           9474
Height       60171
Weight       62875
Team             0
NOC              0
Games            0
Year             0
Season           0
City             0
Sport            0
Event            0
Medal       231333
region_x       370
notes_x     266077
region_y       370
notes_y     266077
dtype: int64

In [19]:
df.duplicated().sum()

1385

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df.duplicated().sum()

0

In [22]:
df['Medal'].value_counts()

Gold      13369
Bronze    13295
Silver    13108
Name: Medal, dtype: int64

In [23]:
pd.get_dummies(df['Medal']) # it will segregate medal column into different column on basis of its value where there is gold medal value will be 1 in that section
#rest is zero

        Bronze  Gold  Silver
0            0     0       0
1            0     0       0
2            0     0       0
3            0     1       0
4            0     0       0
...        ...   ...     ...
271111       0     0       0
271112       0     0       0
271113       0     0       0
271114       0     0       0
271115       0     0       0

[269731 rows x 3 columns]

In [24]:
df.shape

(269731, 19)

In [25]:
''' as no of rows in df and medal new database is same so we are concatinating them'

'''
df = pd.concat([df,pd.get_dummies(df['Medal'])],axis=1)

In [26]:
df.head

<bound method NDFrame.head of             ID                      Name Sex   Age  Height  Weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  ...          Sport  \
0                China  CHN  1992 Summer  1992  ...     Basketball
1                China  CHN  2012 Summer  2012  ...           Judo
2              Denmark  DEN  1920 Summer  1920  ...       Football
3       Denmark/Sweden  DEN  1900 Summer  1900  ...     Tug-Of-War
4          Netherlands  NED  1988 Winter  1988  ...  Speed Skating
...                ...  ...          ...   ...  ...            ...
271111        Poland-1  POL  1976 Winter  1976  ...           Luge
271112          Poland  POL  2014 Winter  2014  ...    Ski Jumping
271113          Poland  POL  2014 Winter  2014  ...    Ski Jumping
271114          Poland  POL  1998 Winter  1998  ...      Bobsleigh
271115          Poland  POL  2002 Winter  2002  ...      Bobsleigh

                                           Event Medal     region_x notes_x  \
0                    Basketball Men's Basketball   NaN        China     NaN
1                   Judo Men's Extra-Lightweight   NaN        China     NaN
2                        Football Men's Football   NaN      Denmark     NaN
3                    Tug-Of-War Men's Tug-Of-War  Gold      Denmark     NaN
4               Speed Skating Women's 500 metres   NaN  Netherlands     NaN
...                                          ...   ...          ...     ...
271111                Luge Mixed (Men)'s Doubles   NaN       Poland     NaN
271112  Ski Jumping Men's Large Hill, Individual   NaN       Poland     NaN
271113        Ski Jumping Men's Large Hill, Team   NaN       Poland     NaN
271114                      Bobsleigh Men's Four   NaN       Poland     NaN
271115                      Bobsleigh Men's Four   NaN       Poland     NaN

           region_y notes_y Bronze Gold  Silver
0             China     NaN      0    0       0
1             China     NaN      0    0       0
2           Denmark     NaN      0    0       0
3           Denmark     NaN      0    1       0
4       Netherlands     NaN      0    0       0
...             ...     ...    ...  ...     ...
271111       Poland     NaN      0    0       0
271112       Poland     NaN      0    0       0
271113       Poland     NaN      0    0       0
271114       Poland     NaN      0    0       0
271115       Poland     NaN      0    0       0

[269731 rows x 22 columns]>

In [27]:
df.shape

(269731, 22)

In [28]:
'''group by the medal as per noc '''
df.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

     NOC    Gold  Silver  Bronze
0    USA  2638.0  1641.0  1358.0
1    URS  1082.0   732.0   689.0
2    GER   745.0   674.0   746.0
3    GBR   677.0   739.0   651.0
4    ITA   575.0   531.0   531.0
..   ...     ...     ...     ...
225  LAO     0.0     0.0     0.0
226  AHO     0.0     1.0     0.0
227  LBR     0.0     0.0     0.0
228  LCA     0.0     0.0     0.0
229  LBA     0.0     0.0     0.0

[230 rows x 4 columns]

In [29]:
# above table is entirely wrong as it is counting medal to individual player that were playing in team as different
# so doing correction by removing the the duplicate rows, on basis of code, country, game, city

medal_tally = df.drop_duplicates(subset=['Team','NOC','Games','Year','Sport','Event','Medal','City'])

In [30]:
medal_tally = medal_tally.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [31]:
medal_tally[medal_tally['NOC']=='IND']

    NOC  Gold  Silver  Bronze
51  IND  10.0     7.0    12.0

In [32]:
years = df['Year'].unique().tolist()
years.sort()
years

[1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1994,
 1996,
 1998,
 2000,
 2002,
 2004,
 2006,
 2008,
 2010,
 2012,
 2014,
 2016]

In [33]:
countries = df['region'].unique().tolist()
countries.sort()
countries

KeyError: 'region'

In [34]:
country = np.unique(df['region'].dropna().values).tolist()
country.sort()
country

KeyError: 'region'

In [35]:
country.insert(0,'Overall')

NameError: name 'country' is not defined

In [36]:
country

NameError: name 'country' is not defined

In [37]:
def fetch_medal_tally(year,country):
    modal_df = df.drop_duplicates(subset=['Team','NOC','Games','Year','Sport','Event','Medal','City'])
    flag = 0
    if(year=='overall' and country =='overall'):
        temp_df = model_df
    if(year=='overall' and country!='overall'):
        temp_df =modal_df[modal_df['region']==country]
    if(year!='overall' and country=='overall'):
        temp_df =modal_df[modal_df['Year']==year]
    if(year!='overall' and country!='overall'):
        temp_df =modal_df[(modal_df['region']==country)&(modal_df['Year']==year)]
    if flag==0:
        x = temp_df.groupby('region').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()
        
    else:
        x = temp_df.groupby('Year').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Year').reset_index()
        
    x['total'] = x['Gold']+ x['Silver']+x['Bronze']
    return x

In [38]:
fetch_medal_tally(1992,"China")

KeyError: 'region'

In [ ]:
modal_df = df.drop_duplicates(subset=['Team','NOC','Games','Year','Sport','Event','Medal','City'])
modal_df
#modal_df[(modal_df['region']=="China") and (modal_df['Year']=='1992')].all()
#temp_df.groupby('region').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [39]:
modal_df[(modal_df['region']=="China") & (modal_df['Year']==1992)]

NameError: name 'modal_df' is not defined

In [40]:
df.shape

(269731, 22)

In [41]:
a = df['Year'].unique().shape[0]-1

In [42]:
b = df['Sport'].unique().shape[0]-1

In [43]:
c = df['City'].unique().shape[0]-1

In [44]:
a.sort()
a

AttributeError: 'int' object has no attribute 'sort'

In [45]:
e = df['Event'].unique().shape[0]-1

In [46]:
athelete =df['Name'].unique().shape
athelete

(134732,)

In [66]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Sport,Event,Medal,region_x,notes_x,region_y,notes_y,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,Basketball,Basketball Men's Basketball,NaN,China,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,...,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,...,Football,Football Men's Football,NaN,Denmark,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,...,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,Denmark,NaN,0,1,0
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,Netherlands,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271095,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,...,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Poland,NaN,Poland,NaN,0,0,0
271096,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,...,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Poland,NaN,Poland,NaN,0,0,0
271097,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,...,Speed Skating,"Speed Skating Men's 10,000 metres",NaN,Poland,NaN,Poland,NaN,0,0,0
271098,135559,Pawe Jan Zygmunt,M,33.0,182.0,79.0,Poland,POL,2006 Winter,2006,...,Speed Skating,"Speed Skating Men's 5,000 metres",NaN,Poland,NaN,Poland,NaN,0,0,0
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,...,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN,Greece,NaN,Greece,NaN,0,0,0

In [67]:
temp_df = df.dropna(subset=['Medal'])

In [68]:
temp_df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'],inplace=True)

C:\Users\Lenovo\anaconda3\envs\analysis-app\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [73]:
temp_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Sport,Event,Medal,region_x,notes_x,region_y,notes_y,Bronze,Gold,Silver
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,...,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,Denmark,NaN,0,1,0
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,...,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Finland,NaN,Finland,NaN,1,0,0
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,...,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Finland,NaN,Finland,NaN,1,0,0
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,...,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Finland,NaN,Finland,NaN,1,0,0
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,...,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland,NaN,Finland,NaN,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271010,135521,Anton Zwerina,M,23.0,NaN,66.0,Austria,AUT,1924 Summer,1924,...,Weightlifting,Weightlifting Men's Lightweight,Silver,Austria,NaN,Austria,NaN,0,0,1
271032,135535,Claudia Antoinette Zwiers,F,22.0,181.0,78.0,Netherlands,NED,1996 Summer,1996,...,Judo,Judo Women's Middleweight,Bronze,Netherlands,NaN,Netherlands,NaN,1,0,0
271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,...,Athletics,Athletics Women's Shot Put,Gold,Russia,NaN,Russia,NaN,0,1,0
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,...,Athletics,Athletics Women's Shot Put,Silver,Russia,NaN,Russia,NaN,0,0,1
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,...,Athletics,Athletics Women's Shot Put,Bronze,Russia,NaN,Russia,NaN,1,0,0

In [83]:
new_df = temp_df[temp_df['region_x']=='India']
final_df = new_df.groupby('Year').count()['Medal'].reset_index()

In [84]:
import plotly.express as px
fig = px.line(final_df,x ='Year',y='Medal')
fig.show()

In [87]:
temp_df = df.dropna(subset=['Medal'])
temp_df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)
new_df = temp_df[temp_df['region_x'] == 'India']

In [88]:
new_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Sport,Event,Medal,region_x,notes_x,region_y,notes_y,Bronze,Gold,Silver
4732,2699,Shaukat Ali,M,30.0,NaN,NaN,India,IND,1928 Summer,1928,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
4736,2703,Syed Mushtaq Ali,M,22.0,165.0,61.0,India,IND,1964 Summer,1964,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
5033,2864,Richard James Allen,M,30.0,172.0,NaN,India,IND,1932 Summer,1932,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
5034,2864,Richard James Allen,M,34.0,172.0,NaN,India,IND,1936 Summer,1936,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
8192,4518,"Joseph Anthony ""Joe"" Antic",M,29.0,168.0,59.0,India,IND,1960 Summer,1960,...,Hockey,Hockey Men's Hockey,Silver,India,NaN,India,NaN,0,0,1
21208,11197,Vasudevan Bhaskaran,M,29.0,174.0,68.0,India,IND,1980 Summer,1980,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
21815,11520,Govinda Billimogaputtaswamy,M,20.0,171.0,60.0,India,IND,1972 Summer,1972,...,Hockey,Hockey Men's Hockey,Bronze,India,NaN,India,NaN,1,0,0
22004,11601,Abhinav Bindra,M,25.0,173.0,70.0,India,IND,2008 Summer,2008,...,Shooting,"Shooting Men's Air Rifle, 10 metres",Gold,India,NaN,India,NaN,0,1,0
41379,21339,Rajendra Absolem Christy,M,30.0,165.0,58.0,India,IND,1968 Summer,1968,...,Hockey,Hockey Men's Hockey,Bronze,India,NaN,India,NaN,1,0,0
42473,21912,Leslie Walter Claudius,M,21.0,162.0,53.0,India,IND,1948 Summer,1948,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
42474,21912,Leslie Walter Claudius,M,25.0,162.0,53.0,India,IND,1952 Summer,1952,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
42475,21912,Leslie Walter Claudius,M,29.0,162.0,53.0,India,IND,1956 Summer,1956,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
60361,30913,Yogeshwar Dutt,M,29.0,168.0,65.0,India,IND,2012 Summer,2012,...,Wrestling,"Wrestling Men's Lightweight, Freestyle",Bronze,India,NaN,India,NaN,1,0,0
105302,53275,Khashaba Dadasaheb Jahdav,M,25.0,NaN,NaN,India,IND,1952 Summer,1952,...,Wrestling,"Wrestling Men's Bantamweight, Freestyle",Bronze,India,NaN,India,NaN,1,0,0
123303,62303,Mangte Chungneijang Mary Kom,F,29.0,158.0,51.0,India,IND,2012 Summer,2012,...,Boxing,Boxing Women's Flyweight,Bronze,India,NaN,India,NaN,1,0,0
128927,64909,Sushil Kumar Solanki,M,25.0,166.0,66.0,India,IND,2008 Summer,2008,...,Wrestling,"Wrestling Men's Welterweight, Freestyle",Bronze,India,NaN,India,NaN,1,0,0
128928,64909,Sushil Kumar Solanki,M,29.0,166.0,66.0,India,IND,2012 Summer,2012,...,Wrestling,"Wrestling Men's Welterweight, Freestyle",Silver,India,NaN,India,NaN,0,0,1
128930,64910,Vijay Kumar,M,26.0,170.0,70.0,India,IND,2012 Summer,2012,...,Shooting,"Shooting Men's Rapid-Fire Pistol, 25 metres",Silver,India,NaN,India,NaN,0,0,1
147624,74069,Sakshi Malik,F,23.0,162.0,58.0,India,IND,2016 Summer,2016,...,Wrestling,"Wrestling Women's Lightweight, Freestyle",Bronze,India,NaN,India,NaN,1,0,0
147709,74119,Karnam Malleswari,F,25.0,163.0,60.0,India,IND,2000 Summer,2000,...,Weightlifting,Weightlifting Women's Light-Heavyweight,Bronze,India,NaN,India,NaN,1,0,0
168204,84516,Gagan Narang,M,29.0,180.0,115.0,India,IND,2012 Summer,2012,...,Shooting,"Shooting Men's Air Rifle, 10 metres",Bronze,India,NaN,India,NaN,1,0,0
169313,85112,Saina Nehwal,F,22.0,167.0,65.0,India,IND,2012 Summer,2012,...,Badminton,Badminton Women's Singles,Bronze,India,NaN,India,NaN,1,0,0
180118,90518,Leander Adrian Paes,M,23.0,178.0,77.0,India,IND,1996 Summer,1996,...,Tennis,Tennis Men's Singles,Bronze,India,NaN,India,NaN,1,0,0
193366,97066,Norman Gilbert Pritchard (-Trevor),M,24.0,NaN,NaN,India,IND,1900 Summer,1900,...,Athletics,Athletics Men's 200 metres,Silver,India,NaN,India,NaN,0,0,1
193368,97066,Norman Gilbert Pritchard (-Trevor),M,24.0,NaN,NaN,India,IND,1900 Summer,1900,...,Athletics,Athletics Men's 200 metres Hurdles,Silver,India,NaN,India,NaN,0,0,1
197400,99103,Rajyavardhan Singh Rathore,M,34.0,188.0,85.0,India,IND,2004 Summer,2004,...,Shooting,Shooting Men's Double Trap,Silver,India,NaN,India,NaN,0,0,1
218235,109611,Antarge Sherpa,M,NaN,NaN,NaN,India,IND,1924 Winter,1924,...,Alpinism,Alpinism Mixed Alpinism,Gold,India,NaN,India,NaN,0,1,0
220929,110974,"Pusarla Venkata ""P. V."" Sindhu",F,21.0,179.0,65.0,India,IND,2016 Summer,2016,...,Badminton,Badminton Women's Singles,Silver,India,NaN,India,NaN,0,0,1
221217,111161,Vijender Kumar Singh,M,22.0,182.0,75.0,India,IND,2008 Summer,2008,...,Boxing,Boxing Men's Middleweight,Bronze,India,NaN,India,NaN,1,0,0

In [93]:
temp_df = df.dropna(subset=['Medal'])

temp_df = temp_df[temp_df['region_x']=='India']
temp_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Sport,Event,Medal,region_x,notes_x,region_y,notes_y,Bronze,Gold,Silver
4732,2699,Shaukat Ali,M,30.0,NaN,NaN,India,IND,1928 Summer,1928,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
4736,2703,Syed Mushtaq Ali,M,22.0,165.0,61.0,India,IND,1964 Summer,1964,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
5033,2864,Richard James Allen,M,30.0,172.0,NaN,India,IND,1932 Summer,1932,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
5034,2864,Richard James Allen,M,34.0,172.0,NaN,India,IND,1936 Summer,1936,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
8192,4518,"Joseph Anthony ""Joe"" Antic",M,29.0,168.0,59.0,India,IND,1960 Summer,1960,...,Hockey,Hockey Men's Hockey,Silver,India,NaN,India,NaN,0,0,1
21208,11197,Vasudevan Bhaskaran,M,29.0,174.0,68.0,India,IND,1980 Summer,1980,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
21815,11520,Govinda Billimogaputtaswamy,M,20.0,171.0,60.0,India,IND,1972 Summer,1972,...,Hockey,Hockey Men's Hockey,Bronze,India,NaN,India,NaN,1,0,0
22004,11601,Abhinav Bindra,M,25.0,173.0,70.0,India,IND,2008 Summer,2008,...,Shooting,"Shooting Men's Air Rifle, 10 metres",Gold,India,NaN,India,NaN,0,1,0
41379,21339,Rajendra Absolem Christy,M,30.0,165.0,58.0,India,IND,1968 Summer,1968,...,Hockey,Hockey Men's Hockey,Bronze,India,NaN,India,NaN,1,0,0
42473,21912,Leslie Walter Claudius,M,21.0,162.0,53.0,India,IND,1948 Summer,1948,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
42474,21912,Leslie Walter Claudius,M,25.0,162.0,53.0,India,IND,1952 Summer,1952,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
42475,21912,Leslie Walter Claudius,M,29.0,162.0,53.0,India,IND,1956 Summer,1956,...,Hockey,Hockey Men's Hockey,Gold,India,NaN,India,NaN,0,1,0
60361,30913,Yogeshwar Dutt,M,29.0,168.0,65.0,India,IND,2012 Summer,2012,...,Wrestling,"Wrestling Men's Lightweight, Freestyle",Bronze,India,NaN,India,NaN,1,0,0
105302,53275,Khashaba Dadasaheb Jahdav,M,25.0,NaN,NaN,India,IND,1952 Summer,1952,...,Wrestling,"Wrestling Men's Bantamweight, Freestyle",Bronze,India,NaN,India,NaN,1,0,0
123303,62303,Mangte Chungneijang Mary Kom,F,29.0,158.0,51.0,India,IND,2012 Summer,2012,...,Boxing,Boxing Women's Flyweight,Bronze,India,NaN,India,NaN,1,0,0
128927,64909,Sushil Kumar Solanki,M,25.0,166.0,66.0,India,IND,2008 Summer,2008,...,Wrestling,"Wrestling Men's Welterweight, Freestyle",Bronze,India,NaN,India,NaN,1,0,0
128928,64909,Sushil Kumar Solanki,M,29.0,166.0,66.0,India,IND,2012 Summer,2012,...,Wrestling,"Wrestling Men's Welterweight, Freestyle",Silver,India,NaN,India,NaN,0,0,1
128930,64910,Vijay Kumar,M,26.0,170.0,70.0,India,IND,2012 Summer,2012,...,Shooting,"Shooting Men's Rapid-Fire Pistol, 25 metres",Silver,India,NaN,India,NaN,0,0,1
147624,74069,Sakshi Malik,F,23.0,162.0,58.0,India,IND,2016 Summer,2016,...,Wrestling,"Wrestling Women's Lightweight, Freestyle",Bronze,India,NaN,India,NaN,1,0,0
147709,74119,Karnam Malleswari,F,25.0,163.0,60.0,India,IND,2000 Summer,2000,...,Weightlifting,Weightlifting Women's Light-Heavyweight,Bronze,India,NaN,India,NaN,1,0,0
168204,84516,Gagan Narang,M,29.0,180.0,115.0,India,IND,2012 Summer,2012,...,Shooting,"Shooting Men's Air Rifle, 10 metres",Bronze,India,NaN,India,NaN,1,0,0
169313,85112,Saina Nehwal,F,22.0,167.0,65.0,India,IND,2012 Summer,2012,...,Badminton,Badminton Women's Singles,Bronze,India,NaN,India,NaN,1,0,0
180118,90518,Leander Adrian Paes,M,23.0,178.0,77.0,India,IND,1996 Summer,1996,...,Tennis,Tennis Men's Singles,Bronze,India,NaN,India,NaN,1,0,0
193366,97066,Norman Gilbert Pritchard (-Trevor),M,24.0,NaN,NaN,India,IND,1900 Summer,1900,...,Athletics,Athletics Men's 200 metres,Silver,India,NaN,India,NaN,0,0,1
193368,97066,Norman Gilbert Pritchard (-Trevor),M,24.0,NaN,NaN,India,IND,1900 Summer,1900,...,Athletics,Athletics Men's 200 metres Hurdles,Silver,India,NaN,India,NaN,0,0,1
197400,99103,Rajyavardhan Singh Rathore,M,34.0,188.0,85.0,India,IND,2004 Summer,2004,...,Shooting,Shooting Men's Double Trap,Silver,India,NaN,India,NaN,0,0,1
218235,109611,Antarge Sherpa,M,NaN,NaN,NaN,India,IND,1924 Winter,1924,...,Alpinism,Alpinism Mixed Alpinism,Gold,India,NaN,India,NaN,0,1,0
220929,110974,"Pusarla Venkata ""P. V."" Sindhu",F,21.0,179.0,65.0,India,IND,2016 Summer,2016,...,Badminton,Badminton Women's Singles,Silver,India,NaN,India,NaN,0,0,1
221217,111161,Vijender Kumar Singh,M,22.0,182.0,75.0,India,IND,2008 Summer,2008,...,Boxing,Boxing Men's Middleweight,Bronze,India,NaN,India,NaN,1,0,0

In [96]:
x = temp_df['Name'].value_counts().reset_index().head(10).merge(df,left_on='index',right_on='Name',how='left')[['index','Name_x','Sport']].drop_duplicates('index')
x.rename(columns={'index':'Name','Name_x':'Medal'},inplace=True)
x

                                  Name  Medal      Sport
0               Leslie Walter Claudius      3     Hockey
3                 Sushil Kumar Solanki      2  Wrestling
6                  Richard James Allen      2     Hockey
8   Norman Gilbert Pritchard (-Trevor)      2  Athletics
13                         Vijay Kumar      1   Shooting
15      Pusarla Venkata "P. V." Sindhu      1  Badminton
16                      Antarge Sherpa      1   Alpinism
17          Rajyavardhan Singh Rathore      1   Shooting
19                 Leander Adrian Paes      1     Tennis
22                        Saina Nehwal      1  Badminton

In [106]:
import plotly.figure_factory as ff
from scipy import sci

athlete = df.drop_duplicates(subset=['Name', 'region_x'])
x1 = athlete['Age'].dropna()
x2 = athlete[athlete['Medal'] == 'Gold']['Age'].dropna()
x3 = athlete[athlete['Medal'] == 'Silver']['Age'].dropna()
x4 = athlete[athlete['Medal'] == 'Bronze']['Age'].dropna()
fig =ff.create_distplot([athlete['Age'].dropna()],['Age Distribution'])


fig(show)

ModuleNotFoundError: No module named 'scipy'

In [115]:
athlete = df.drop_duplicates(subset=['Name', 'region_x'])
temp = athlete[athlete['Sport']=='Polo']
temp= temp[temp['Medal']=='Gold']['Age'].dropna()

fig =ff.create_distplot([temp],['cv'])

ImportError: FigureFactory.create_distplot requires scipy

In [116]:
temp

7207      46.0
14998     44.0
19600     33.0
115236    32.0
115983    35.0
159150    39.0
Name: Age, dtype: float64

In [120]:
import seaborn as sns
athlete_df= df.drop_duplicates(subset=['Name','region_x'])
athlete_df['Medal'].fillna('No Medal',inplace=True)
temp_df = athlete_df[athlete_df['Sport']=='Judo']
sns.scatterplot(temp_df['Weight'],temp_df['Height'],hue=temp_df['Medal'],style=temp_df['Sex'],s=100)

TypeError: scatterplot() takes from 0 to 1 positional arguments but 2 positional arguments (and 2 keyword-only arguments) were given